@font-face {
    font-family: poppinsb;
    src: url(../font/Poppins-Bold.ttf);
}
@font-face {
    font-family: poppinsr;
    src: url(../font/Poppins-Regular.ttf);
}
@font-face {
    font-family: poppinssi;
    src: url(../font/Poppins-SemiBoldItalic.ttf);
}
@font-face {
    font-family: poppinss;
    src: url(../font/Poppins-SemiBold.ttf);
}

body{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    
}

/* header */

header{
    background-image: url(../img/back1.2.png);
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

header>div{
    background-image: url(../img/logo.png);
    height: 80%;
    background-size: contain;
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
}

.navbar{
    display: flex;
    justify-content:center;
    list-style-type: none;
}

a{
    color: white;
    text-decoration: none;
    font-family: poppinsb;
    font-size: 15px;
    transition: all 0.4s ease-out;
}

li{
    
    margin: 0px 3vw;
    margin-top: 20px;
    border-radius: 7px;
    transition: all 0.4s ease-out;
    
    
}

ul{
    padding:0;
    margin:0;
}

    /*sec1*/


.sec1{

    background-image: url(../img//fit1.2.png);
    background-color: #1c1c1c;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height:55.8vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:15px;
    
}

.sec1>div>h2{
    font-family: poppinsb;
    font-size: 4vw;
    text-align: center;
    color: white;
}


.sec1>div>div>div:nth-child(1)>button{
    font-family: poppinsb;
    font-size: 1.2vw;
    padding: 1.2vw 2.5vw;
    color: white;
    border: none;
    background: linear-gradient(30deg,#de2574,#ff5030 );
    box-shadow: 0px 0px 20px 0px rgb(26, 26, 26);
    transition: all 0.6s ease-out;
}

.sec1>div>div>div:nth-child(2)>p:nth-child(1){
    font-size: 0;
}

.sec1>div>div>div:nth-child(2)>p:nth-child(2){
    font-size: 0;
}

.sec1>div>div>div:nth-child(1)>button{
    font-family: poppinsb;
    font-size: 2vw;
    padding: 2vw 7vw;
    color: white;
    border: none;
    background: linear-gradient(30deg,#de2574,#ff5030 );
    box-shadow: 0px 0px 20px 0px rgb(26, 26, 26);
    transition: all 0.6s ease-out;
}

.sec1>div>div>div:nth-child(1)>button:hover{

    
    background-position:21.8vw;
    cursor:pointer;
    
}

.sec1>div>div>div:nth-child(1){
    width: 50vw;
    height:15vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    

}

/*sec2*/


.sec2{

    background-image: url(../img//fit2.2.png);
    background-color: #1c1c1c;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height:55.8vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:30px;
    
}

.sec2>div>h2{
    font-family: poppinsb;
    font-size: 4vw;
    text-align: center;
    color: white;
}


.sec2>div>div>div:nth-child(1)>button{
    font-family: poppinsb;
    font-size: 1.2vw;
    padding: 1.2vw 2.5vw;
    color: white;
    border: none;
    background: linear-gradient(30deg,#de2574,#ff5030 );
    box-shadow: 0px 0px 20px 0px rgb(26, 26, 26);
    transition: all 0.6s ease-out;
}

.sec2>div>div>div:nth-child(2)>p:nth-child(1){
    font-size: 0;
}

.sec2>div>div>div:nth-child(2)>p:nth-child(2){
    font-size: 0;
}

.sec2>div>div>div:nth-child(1)>button{
    font-family: poppinsb;
    font-size: 2vw;
    padding: 2vw 7vw;
    color: white;
    border: none;
    background: linear-gradient(30deg,#de2574,#ff5030 );
    box-shadow: 0px 0px 20px 0px rgb(26, 26, 26);
    transition: all 0.6s ease-out;
}

.sec2>div>div>div:nth-child(1)>button:hover{

    
    background-position:21.8vw;
    cursor:pointer;
    
}

.sec2>div>div>div:nth-child(1){
    width: 50vw;
    height:15vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    

}

/*sec3*/

.sec3{

    background-image: url(../img/newsletter.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height:55.8vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:30px;
    
}

.sec3>div{

    height:55.8vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.sec3>div>h2{
    font-family: poppinsb;
    font-size: 6vw;
    text-align: center;
    color: white;
}

.nlb{
    width: 400px;
    height:50px;

}

.nlb>input{
    margin: 0;
    border:none;
    width:200px;
    padding:0px 30px;
    height: 50px;
    text-align: start;
    font-size: 15px;
    font-family: poppinssi;
}

.sec3>div>form>input:focus{
    outline:  none;
}

.nlb>button{
    margin: 0;
    border:none;
    width:135px;
    height: 50px;
    font-family: poppinsb;
    color: white;
    font-size: 15px;
    background-color: #1c1c1c;
    transition: all 0.5s ease-out;
}

.sec3>div>form>button:hover{
    cursor: pointer;
}

.sec3>div>div:nth-child(4){
    background: linear-gradient(30deg,#de2574, #ff5030);
    height: 4px;
    width: 400px;
    margin-bottom: 20px;
}

.sec3>div>div:nth-child(6){
    width: 400px;
    height: 20px; 
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;

}

.nlb2{
    width: 250px;
    height:25px;


}



.nlb2>button{
    margin: 0;
    border:none;
    width:75px;
    height: 25px;
    font-family: poppinsb;
    color: white;
    font-size: 10px;
    background-color: #1c1c1c;
    transition: all 0.5s ease-out;
}

.nlb2>input{
    margin: 0;
    border:none;
    width:100px;
    padding:0px 30px;
    height: 25px;
    text-align: start;
    font-size: 10px;
    font-family: poppinssi;
}

.result{
    color: white;
    font-family: poppinssi;
    background: linear-gradient(30deg,#de2574, #ff5030);
    padding: 0px 10px;
    font-size: 12px;
    margin-bottom: 8px;
    border-radius: 3px;
    transition: all 0.5s ease-out;
}

.sec3>div>div:nth-child(6)>a>i:nth-child(1){
    font-size: 15px;
    padding: 15px;
    color: white;
    
}

.sec3>div>div:nth-child(6)>a>i:nth-child(2){
    font-size: 15px;
    padding: 15px;
    color: white;
    
}

.sec3>div>div:nth-child(6)>a>i:nth-child(3){
    font-size: 15px;
    padding: 15px;
    color: white;
    
}

.sec3>div>div:nth-child(6)>a>i:nth-child(4){
    font-size: 15px;
    padding: 15px;
    color: white;
    
}

.sec3>div>div:nth-child(6)>a>i:nth-child(5){
    font-size: 15px;
    padding: 15px;
    color: white;
    
}

.sec3>div>div:nth-child(6)>a>i:hover{
    cursor: pointer;
}




/*footer*/

footer{
    background-image: url(../img/footer.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height:55.8vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

footer>div:nth-child(1){
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
}



footer>div:nth-child(2){
    padding: 20px;
    margin-top:2vw;
    font-size: 2vw;
    cursor: pointer;
    color: white;
    font-family: poppinssi;
}

footer>div>div{
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer>div>div>h3{
    font-family: poppinsb;
    font-size: 15px;
}

footer>div>div>a{
    font-family: poppinssi;
    font-size: 1.8vw;
}

footer>div>div>p{
    font-family: poppinssi;
    font-size: 1.8vw;
}

footer>div>div>div{
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background: linear-gradient(30deg,#de2574, #ff5030);
}




@media (min-width: 1000px) {

    

    .sec1{

        background-image: url(../img//sec1.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height:55.8vw;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top:30px;
        
    }
    
    .sec1>div{
        height:55.8vw;
    
    }
    
    .sec1>div>h2{
        font-family: poppinsb;
        font-size: 4vw;
        text-align: center;
        background: linear-gradient(30deg,#de2574, #ff5030);
        background-clip: border-box;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    
    .sec1>div>div{
        width: 50vw;
        height:29vw;
        background-color:white;
        box-shadow: 0px 0px 25px 2px rgb(155, 155, 155);
    }
    
    .sec1>div>div>div:nth-child(1){
        width: 50vw;
        height:25vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-image: url(../img/fit1.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
    
    .sec1>div>div>div:nth-child(2){
        width: 50vw;
        height: 3vw;
        padding: 0.3vw 0.8vw;
    }
    
    .sec1>div>div>div:nth-child(2)>p{
        margin: 0;
    }
    
    .sec1>div>div>div:nth-child(2)>p:nth-child(1){
        font-family: poppinsb;
        font-size: 1.3vw;
        color: rgb(24, 24, 24);
    }
    
    .sec1>div>div>div:nth-child(2)>p:nth-child(2){
        font-family: poppinsr;
        font-size: 0.7vw;
        color: rgb(167, 167, 167);
    }
    
    .sec1>div>div>div:nth-child(1)>button{
        font-family: poppinsb;
        font-size: 1.2vw;
        padding: 1.2vw 2.5vw;
        color: white;
        border: none;
        background: linear-gradient(30deg,#de2574,#ff5030 );
        box-shadow: 0px 0px 20px 0px rgb(26, 26, 26);
        transition: all 0.6s ease-out;
    }
    
    .sec1>div>div>div:nth-child(1)>button:hover{
    
        
        background-position:9.7vw;
        cursor:pointer;
        
    }

    /*sec2*/

    .sec2{

        background-image: url(../img/sec2.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height:55.8vw;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top:30px;
        
    }
    
    .sec2>div{
        height:55.8vw;
    
    }
    
    .sec2>div>h2{
        font-family: poppinsb;
        font-size: 4vw;
        text-align: center;
        background: linear-gradient(30deg,#de2574, #ff5030);
        background-clip: border-box;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    
    .sec2>div>div{
        width: 50vw;
        height:29vw;
        background-color:white;
        box-shadow: 0px 0px 25px 2px rgb(155, 155, 155);
    }
    
    .sec2>div>div>div:nth-child(1){
        width: 50vw;
        height:25vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-image: url(../img/fit2.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
    
    .sec2>div>div>div:nth-child(2){
        width: 50vw;
        height: 3vw;
        padding: 0.3vw 0.8vw;
    }
    
    .sec2>div>div>div:nth-child(2)>p{
        margin: 0;
    }
    
    .sec2>div>div>div:nth-child(2)>p:nth-child(1){
        font-family: poppinsb;
        font-size: 1.3vw;
        color: rgb(24, 24, 24);
    }
    
    .sec2>div>div>div:nth-child(2)>p:nth-child(2){
        font-family: poppinsr;
        font-size: 0.7vw;
        color: rgb(167, 167, 167);
    }
    
    .sec2>div>div>div:nth-child(1)>button{
        font-family: poppinsb;
        font-size: 1.2vw;
        padding: 1.2vw 2.5vw;
        color: white;
        border: none;
        background: linear-gradient(30deg,#de2574,#ff5030 );
        box-shadow: 0px 0px 20px 0px rgb(26, 26, 26);
        transition: all 0.6s ease-out;
    }
    
    .sec2>div>div>div:nth-child(1)>button:hover{
    
        
        background-position:9.7vw;
        cursor:pointer;
        
    }

    /*sec3*/

    .sec3{

        background-image: url(../img/sec3.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height:55.8vw;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top:30px;
        
    }

    .sec3>div{

        height:55.8vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }

    .sec3>div>h2{
        font-family: poppinsb;
        padding:0;
        font-size: 6vw;
        text-align: center;
        background: linear-gradient(30deg,#de2574, #ff5030);
        background-clip: border-box;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .nlb{
        width: 800px;
        height:150px;
        margin-top: 30px;

    }

    

    .nlb>input{
        margin: 0;
        border:none;
        width:400px;
        padding:0px 60px;
        height: 150px;
        text-align: start;
        font-size: 20px;
        font-family: poppinssi;
    }

    .nlb>input:focus{
        outline:  none;
    }

    .nlb>button{
        margin: 0;
        border:none;
        width:275px;
        height: 150px;
        font-family: poppinsb;
        color: white;
        font-size: 20px;
        background-color: #1c1c1c;
        transition: all 0.5s ease-out;
    }

    .sec3>div>form>button:hover{
        cursor: pointer;
    }

    .sec3>div>div:nth-child(4){
        background: linear-gradient(30deg,#de2574, #ff5030);
        height: 8px;
        width: 800px;
        margin-bottom: 20px;
    }

    .sec3>div>div:nth-child(6){
        width: 500px;
        height: 27px; 
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 3vw;
        margin-bottom: 20px;
 
    }

    .sec3>div>div:nth-child(6)>a>i:nth-child(1){
        font-size: 27px;
        padding: 20px;
        background: linear-gradient(30deg,#de2574, #ff5030);
        background-clip: border-box;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        
    }

    .sec3>div>div:nth-child(6)>a>i:nth-child(2){
        font-size: 27px;
        padding: 20px;
        background: linear-gradient(30deg,#de2574, #ff5030);
        background-clip: border-box;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        
    }

    .sec3>div>div:nth-child(6)>a>i:nth-child(3){
        font-size: 27px;
        padding: 20px;
        background: linear-gradient(30deg,#de2574, #ff5030);
        background-clip: border-box;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        
    }

    .sec3>div>div:nth-child(6)>a>i:nth-child(4){
        font-size: 27px;
        padding: 20px;
        background: linear-gradient(30deg,#de2574, #ff5030);
        background-clip: border-box;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        
    }

    .sec3>div>div:nth-child(6)>a>i:nth-child(5){
        font-size: 27px;
        padding: 20px;
        background: linear-gradient(30deg,#de2574, #ff5030);
        background-clip: border-box;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        
    }
    
    
    .sec3>div>div:nth-child(6)>a>i:hover{
        cursor: pointer;
    }

    .nlb2{
        width:400px;
        height: 50px;
        margin-bottom: 30px;
        
    }

    .nlb2>button{
        margin: 0;
        border:none;
        width:110px;
        height: 50px;
        font-family: poppinsb;
        color: white;
        font-size: 10px;
        background-color: #1c1c1c;
        transition: all 0.5s ease-out;
        box-shadow: 0px 3px 6px 0px rgb(187, 187, 187);
    }
    
    .nlb2>input{
        margin: 0;
        border:none;
        width:250px;
        padding:0px 15px;
        height: 50px;
        text-align: start;
        font-size: 10px;
        font-family: poppinssi;
        box-shadow: 0px 3px 6px 0px rgb(187, 187, 187);
    }
    
    /*footer*/

    footer{
        background-image: url(../img/footer.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height:55.8vw;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    footer>div:nth-child(1){
        width: 100%;
        height: 40%;
        display: flex;
        justify-content: space-evenly;
        align-items: flex-start;
    }

    footer>div:nth-child(2){
        padding: 20px;
        margin-top:16vw;
        color: white;
    }

    footer>div>div{
        text-align: center;
        color: white;
    }

    footer>div>div>h3{
        font-family: poppinsb;
        font-size: 2.5vw;
    }

    footer>div>div>p{
        font-size: 1.5vw;
    }

    footer>div>div>div{
        width: 100%;
        height: 4px;
        border-radius: 2px;
        background: linear-gradient(30deg,#de2574, #ff5030);
    }

}

@media (max-width: 550px) {

    a{
        color: white;
        text-decoration: none;
        font-family: poppinsb;
        font-size: 2.2vw;
        transition: all 0.4s ease-out;
    }

    .nlb{
        width: 200px;
        height:25px;
    
    }
    
    .nlb>input{
        margin: 0;
        border:none;
        width:100px;
        padding:0px 10px;
        height: 25px;
        text-align: start;
        font-size: 8px;
        font-family: poppinssi;
    }

    .nlb>button{
        margin: 0;
        border:none;
        width:75px;
        height: 25px;
        font-family: poppinsb;
        color: white;
        font-size: 8px;
        background-color: #1c1c1c;
        transition: all 0.5s ease-out;
    }

    .nlb2{
        width: 200px;
        height:25px;
        margin-top:10px;
    
    }

    .nlb2>button{
        margin: 0;
        border:none;
        width:75px;
        height: 25px;
        font-family: poppinsb;
        color: white;
        font-size: 8px;
        background-color: #1c1c1c;
        transition: all 0.5s ease-out;
}

    .nlb2>input{
        margin: 0;
        border:none;
        width:100px;
        padding:0px 10px;
        height: 25px;
        text-align: start;
        font-size: 8px;
        font-family: poppinssi;
}

.sec3>div>div:nth-child(4){
    background: linear-gradient(30deg,#de2574, #ff5030);
    height: 2px;
    width: 200px;
    margin-bottom: 8px;
}

.sec3>div>div:nth-child(6)>a>i:nth-child(1){
    font-size: 8px;
    padding: 8px;
    color: white;
    
}

.sec3>div>div:nth-child(6)>a>i:nth-child(2){
    font-size: 8px;
    padding: 8px;
    color: white;
    
}

.sec3>div>div:nth-child(6)>a>i:nth-child(3){
    font-size: 8px;
    padding: 8px;
    color: white;
    
}

.sec3>div>div:nth-child(6)>a>i:nth-child(4){
    font-size: 8px;
    padding: 8px;
    color: white;
    
}

.sec3>div>div:nth-child(6)>a>i:nth-child(5){
    font-size: 8px;
    padding: 8px;
    color: white;
    
}

.sec3>div>div:nth-child(6){
    width: 200px;
    height: 12px; 
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8px;

}

footer>div>div>h3{
    font-family: poppinsb;
    font-size: 8px;
}

footer>div>div>p{
    font-family: poppinsr;
    font-size: 1.7vw;
}


footer>div>div>div{
    width: 100%;
    height: 3px;
    border-radius: 2px;
    background: linear-gradient(30deg,#de2574, #ff5030);
}

}